.uc-planner {
  .uc-planner-detail {
    .uc-planner-detail-term {
      display: flex;
      flex-wrap: wrap;

      > div {
        background: $uc-color-white;
        font-size: 20px;
        margin: 10px;
        width: 30%;
      }
    }
  }

  .uc-fluid-table table {
    font-size: 11px;
  }
  
  .ps_content .uc-fluid-table table table .ps_box-button a {
    background: #009900;
    border: 1px solid #2279a4;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    padding: 3px, 3px, 0px, 3px;
    text-decoration: none;
    text-shadow: none; 
   }
}

@media all and (max-width: 700px) {
  .uc-planner {
    .uc-planner-detail {
      .uc-planner-detail-term {
        flex-direction: column;
        flex-wrap: nowrap;

        > div {
          width: 100%;
        }
      }
    }
  }
}
