.uc-planner {
  .uc-planner-detail {
    .uc-planner-detail-term {
      display: flex;
      flex-wrap: wrap;

      > div {
        background: $uc-color-white;
        font-size: 20px;
        margin: 10px;
        max-width: 30%;
      }
    }
  }
}

@media all and (max-width: 700px) {
   .uc-planner {
    .uc-planner-detail {
      .uc-planner-detail-term {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }
  .uc-planner {
    .uc-planner-detail {
      .uc-planner-detail-term {

        > div {
          max-width: 100%;
        }
      }
    }
  }
}
