// This is the main CSS file
// We base everything on how it looks like in the kitchensink:
// http://bit.ly/sis-kitchen-sink
.ps_main {
  * {
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
  }

  h1 {
    color: $uc-color-grey-3;
    font-size: 24px;
    font-weight: normal;
  }

  h2 {
    color: $uc-color-grey-3;
    font-size: 20px;
    font-weight: normal;
  }

  h3.ps_header-group {
    color: $uc-color-grey-3;
    font-size: 18px;
    font-weight: normal;
  }

  h4.ps_header-group {
    color: $uc-color-grey-3;
    font-size: 14px;
    font-weight: bold;
  }

  h5.ps_header-group {
    color: $uc-color-grey-6;
    font-size: 14px;
    font-weight: bold;
  }

  h6.ps_header-group {
    color: $uc-color-grey-6;
    font-size: 12px;
    font-weight: bold;
  }

  label.ps-label {
    color: $uc-color-grey-6;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }

  legend.ps_header-group {
    color: $uc-color-grey-3;
    font-size: 18px;
    font-weight: normal;
  }

  textarea,
  textarea.ps-edit,
  textarea.ps-longedit,
  input[type="text"],
  input[type="url"],
  input[type="date"],
  input[type="time"],
  input[type="number"],
  input[type="search"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="tel"],
  select {
    box-shadow: inset 0 0 5px $uc-color-grey-a;
    color: $uc-color-grey-6;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;

    &:hover,
    &:focus {
      border-color: $uc-color-blue-dark;
    }
  }

  hr {
    background: $uc-color-grey-a;
    border: 0;
    color: $uc-color-grey-a;
    height: 1px;
  }

  a.ps-button,
  .ps_box-button.psc_disabled .ps-button {
    &,
    &:link,
    &:visited,
    &:disabled {
      background-color: $uc-color-blue-dark;
      background-image: none;
      border: 0;
      border-radius: 2px;
      box-shadow: none;
      box-sizing: border-box;
      color: $uc-color-white;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 100;
      height: 34px;
      line-height: normal;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      text-shadow: none;
      vertical-align: middle;
    }

    &,
    &:link {
      &:hover,
      &:focus,
      &:active {
        background-color: $uc-color-blue-light;
        background-image: none;
        box-shadow: none;
        color: $uc-color-white;
        text-decoration: none;
      }
    }
  }

  .ps_box-button.psc_disabled .ps-button {

    &,
    &:hover,
    &:focus {
      background-color: $uc-color-grey-e;
      color: $uc-color-grey-c;
      cursor: default;
      pointer-events: none;
    }
  }

  a,
  .ps-link {

    &,
    &::visited {
      color: $uc-color-blue-dark;
    }

    &:focus,
    &:hover {
      color: $uc-color-blue-dark;
      text-decoration: underline;
    }
  }

  ul,
  ol {
    padding-left: 30px;

    li {
      color: $uc-color-grey-9;
      font-weight: bold;

      span {
        color: $uc-color-grey-3;
        font-weight: normal;
      }
    }
  }

  .uc-fluid-table {
    overflow: auto;

    >.ps_header-group {
      display: none;
    }

    table {
      border: 1px solid $uc-color-grey-e;
      border-collapse: separate;
      font-size: 14px;

      th {
        background-color: $uc-color-grey-e;
        vertical-align: bottom;
      }

      .psc_image_only {
        .ps-button {
          img {
            filter: brightness(3);
          }
        }
      }
    }
  }


  // Remove the 33% width from all the labels
  .ps_box-label {
    width: auto;
  }

  //
  // Custom UC Classes
  //
  .uc-fluid-italic {
    font-style: italic;
  }

  // Show the labels on top of the controls
  .uc-fluid-label-top {

    .ps_box-label {
      margin-bottom: 5px;
      text-align: left;
    }

    .ps_box-value,
    .ps_box-control {
      display: block;
    }
  }

  // For the associated labels
  .uc-fluid-label-associated {
    margin-top: -5px;

    .ps_box-label {
      display: none;
    }
  }
}
