// This is the main CSS file
// We base everything on how it looks like in the kitchensink:
// http://bit.ly/sis-kitchen-sink
.ps_main {
  * {
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
  }

  .uc-page {
    margin: 0 auto;
    max-width: 800px;
  }

  h1 {
    color: $uc-color-grey-3;
    font-size: 24px;
    font-weight: normal;
  }

  h2 {
    color: $uc-color-grey-3;
    font-size: 20px;
    font-weight: normal;
  }

  h3.ps_header-group {
    color: $uc-color-grey-3;
    font-size: 18px;
    font-weight: normal;
  }

  h4.ps_header-group {
    color: $uc-color-grey-3;
    font-size: 14px;
    font-weight: bold;
  }

  h5.ps_header-group {
    color: $uc-color-grey-6;
    font-size: 14px;
    font-weight: bold;
  }

  h6.ps_header-group {
    color: $uc-color-grey-6;
    font-size: 12px;
    font-weight: bold;
  }

  label.ps-label {
    color: $uc-color-grey-6;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }

  legend.ps_header-group {
    color: $uc-color-grey-3;
    font-size: 18px;
    font-weight: normal;
  }

  textarea,
  textarea.ps-edit,
  textarea.ps-longedit,
  input[type="text"],
  input[type="url"],
  input[type="date"],
  input[type="time"],
  input[type="number"],
  input[type="search"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="tel"],
  select {
    box-shadow: inset 0 0 5px $uc-color-grey-a;
    color: $uc-color-grey-6;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;

    &:hover,
    &:focus {
      border-color: $uc-color-blue-dark;
    }
  }

  hr {
    background: $uc-color-grey-a;
    border: 0;
    color: $uc-color-grey-a;
    height: 1px;
  }

  a.ps-button,
  .ps_box-button.psc_disabled .ps-button {
    &,
    &:link,
    &:visited,
    &:disabled {
      background-color: $uc-color-blue-dark;
      background-image: none;
      border: 0;
      border-radius: 2px;
      box-shadow: none;
      box-sizing: border-box;
      color: $uc-color-white;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 100;
      height: 34px;
      line-height: normal;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      text-shadow: none;
      vertical-align: middle;
    }

    &,
    &:link {
      &:hover,
      &:focus,
      &:active {
        background-color: $uc-color-blue-light;
        background-image: none;
        box-shadow: none;
        color: $uc-color-white;
        text-decoration: none;
      }
    }
  }

  .ps_box-button.psc_disabled .ps-button {

    &,
    &:hover,
    &:focus {
      background-color: $uc-color-grey-a;
      color: $uc-color-grey-d;
      cursor: default;
      pointer-events: none;
    }
  }

  a,
  .ps-link {

    &,
    &::visited {
      color: $uc-color-blue-dark;
    }

    &:focus,
    &:hover {
      color: $uc-color-blue-dark;
      text-decoration: underline;
    }
  }

  ul,
  ol {
    padding-left: 30px;

    li {
      color: $uc-color-grey-9;
      font-weight: bold;

      span {
        color: $uc-color-grey-3;
        font-weight: normal;
      }
    }
  }

  .uc-fluid-table {
    // We need this clear & extra margin because of a scrollbar bug on Google Chrome on Windows
    clear: both;
    margin-bottom: 20px;
    overflow: auto;

    >.ps_header-group {
      display: none;
    }

    table {
      border: 1px solid $uc-color-grey-e;
      border-collapse: separate;
      font-size: 14px;

      th {
        background-color: $uc-color-grey-e;
        vertical-align: bottom;
      }

      .psc_image_only {
        .ps-button {
          img {
            filter: brightness(3);
          }
        }
      }
    }
  }

  // Remove the 33% width from all the labels
  .ps_box-label {
    width: auto;
  }

  //
  // Custom UC Classes
  //
  .uc-fluid-italic {
    font-style: italic;
  }

  // Show the labels on top of the controls
  .uc-fluid-label-top {

    .ps_box-label {
      margin-bottom: 5px;
      text-align: left;
    }

    .ps_box-value,
    .ps_box-control {
      display: block;
    }
  }

  // For the associated labels
  .uc-fluid-label-associated {
    margin-top: -5px;

    .ps_box-label {
      display: none;
    }
  }

  // Custom widths, PS delivers only up to 100px psc_width-100px
  // Goes from 105px till 350px in 5px incements (105px, 110px, ...)
  @for $i from 1 through 50 {
    $width: 100 + $i * 5px;

    .uc-width-#{$width} {
      width: $width;
    }
  }

  @for $i from 1 through 20 {
    $width-label: $i * 5pct;
    $width: $i * 5%;

    .uc-width-#{$width-label} {
      width: $width;
    }
  }

  // Custom control widths, PS delivers only up to 100px psc_control-width100px
  // Custom widths, PS delivers only up to 100px psc_width-100px
  // Goes from 105px till 320px in 5px incements (105px, 110px, ...)
  @for $i from 1 through 44 {
    $width: 100 + $i * 5px;

    .uc-control-width-#{$width} {
      > .ps_box-valuelink,
      > .ps_box-valueemail,
      > .ps_box-value,
      > .ps_box-control > .ps-longedit,
      > .ps_box-control > .ps-dropdown,
      > .ps_box-control > .ps-edit {
        width: $width;
      }
    }
  }

  // Align the text in the input boxes to the right
  .uc-input-align-right {
    > .ps_box-control input[type="text"] {
      text-align: right;
    }
  }

  // Custom font-widths, PS does not deliver classes to allow different font-sizes
  @for $i from 10 through 25 {
    $width: $i * 1px;

    .uc-font-size-#{$i} {
      font-size: $width;
    }
  }

  // Custom margin-widths, PS does not deliver classes to allow different larger margins
  // Goes from 100px till 300px in 5px incements (100px, 105px, ...)
  @for $i from 0 through 40 {
    $amount: 100 + $i * 5px;

    .uc-margin-#{$amount} {
      margin: $amount;
    }

    .uc-margin-bottom-#{$amount} {
      margin-bottom: $amount;
    }

    .uc-margin-top-#{$amount} {
      margin-top: $amount;
    }

    .uc-margin-left-#{$amount} {
      margin-left: $amount;
    }

    .uc-margin-right-#{$amount} {
      margin-right: $amount;
    }
  }

  // Custom margin-widths, PS does not deliver classes to allow negative margins
  // Goes from -1px till -20px in -1px incements (-1px, -2px, ...)
  @for $i from 1 through 20 {
    $amount: -1px * $i;

    .uc-margin-negative#{$amount} {
      margin: $amount;
    }

    .uc-margin-bottom-negative#{$amount} {
      margin-bottom: $amount;
    }

    .uc-margin-top-negative#{$amount} {
      margin-top: $amount;
    }

    .uc-margin-left-negative#{$amount} {
      margin-left: $amount;
    }

    .uc-margin-right-negative#{$amount} {
      margin-right: $amount;
    }
  }

  // PS does not deliver a class to display a longedit box' labe  on the top of the field
  .uc-longedit-label-top {
    &.ps_box-edit.psc_wrappable:not(.psc_label-suppressed),
    &.ps_box-dropdown.psc_wrappable:not(.psc_label-suppressed),
    &.ps_box-longedit.psc_wrappable:not(.psc_label-suppressed) {
      flex-direction: column;

      > .ps_box-label {
        text-align: left;
      }
    }
  }

  .uc-white-space-pre-wrap {
    white-space: pre-wrap;
  }

  .uc-input-error {
    > .ps_box-control input[type="text"] {
      background-color: $uc-color-red;
    }
  }

  .psc_error {
    input::placeholder {
      color: $uc-color-white;
    }
  }

  // Style the text that appears in the HTMLArea on UC_STATUS_MSG_SBF
  .uc-status-message {
    border: 0;
    box-shadow: none;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    resize: none;
    overflow: hidden;
    outline: none;
    margin: 0;
    height: calc(100%);
  }

  // Icons displayed in the subpage UC_STATUS_MSG_SBF
  .uc-status-icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
  }

  .uc-status-icon-success {
    background-image: url('/uc_cust/data/portal/images/uc-icon-success.svg');
  }

  .uc-status-icon-error {
    background-image: url('/uc_cust/data/portal/images/uc-icon-error.svg');
  }

  .uc-status-icon-warning {
    background-image: url('/uc_cust/data/portal/images/uc-icon-warning.svg');
  }

  // Visually hidden class that will allow us to provide text that only a screen reader uses
  // to provide extra information to accessible users.  This class should be used when
  // embedding a link within a message catalog entry that displays text containing a link that
  // opens in a new window
  // i.e <a href="http://financialaid.berkeley.edu/loans" target="_blank">Loans
  // <span class="uc-visually-hidden">
  // Opens in new window</span></a>
  .uc-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  // Colors (references _colors.scss)
  .uc-color-blue-dark {
    color: $uc-color-blue-dark;
  }

  .uc-color-blue-light {
    color: $uc-color-blue-light;
  }

  .uc-color-green {
    color: $uc-color-green;
  }

  .uc-color-grey-3 {
    color: $uc-color-grey-3;
  }

  .uc-color-grey-6 {
    color: $uc-color-grey-6;
  }

  .uc-color-grey-9 {
    color: $uc-color-grey-9;
  }

  .uc-color-grey-a {
    color: $uc-color-grey-a;
  }

  .uc-color-grey-c {
    color: $uc-color-grey-c;
  }

  .uc-color-grey-e {
    color: $uc-color-grey-e;
  }

  .uc-color-red {
    color: $uc-color-red;
  }

  .uc-color-white {
    color: $uc-color-white;
  }
}
