$uc-color-blue-dark: #2279a4;
$uc-color-blue-light: #2aabdd;
$uc-color-gold: #f1a91e;
$uc-color-green: #0d863d;
$uc-color-grey-3: #333;
$uc-color-grey-6: #666;
$uc-color-grey-9: #999;
$uc-color-grey-a: #aaa;
$uc-color-grey-c: #ccc;
$uc-color-grey-d: #ddd;
$uc-color-grey-e: #eee;
$uc-color-red: #ff3037;
$uc-color-white: #fff;
$uc-planner-background: #387ea1;
